form#registerForm {
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

  img {
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
