.page {
  height: 100vh;
  background-color: white;
  > div {
    display: inline-block;
  }

  .returner {
    padding: 5px 5px 25px 5px;
  }

  .register-container {
    margin-left: 500px;
    width: 500px;

    .head {

      img {
        width: 80%;
      }

    }
  }

  .buttons {

    .register {
      margin-left: 200px;
    }
  }
}
