.navbar-brand img {
  position: absolute;
  top: 0;
  left: 20px;
  height: 80px;
}

.nav-profile-wrapper {
  position: absolute;
  right: 20px;
  top: 7px;
}

.content {
  background-color: red;
  height: 100px;
}
