<div class="page">
  <div class="left">
    <img src="/assets/images/background-left.jpg">
  </div>
  <div class="right">
    <div class="stagecoach">
      <h1>StageCoach</h1>
    </div>
    <div class="right-container">
      <div class="login-container">
        <div class="head">
          <img src="/assets/logos/hogeschool_leiden.png">
        </div>
        <hr>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Token"
              formControlName="token">
            <span
              class="validation-message"
              *ngIf="!resetForm.get('token').valid && resetForm.get('token').touched">
              Please enter a valid token.
            </span>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password">
            <span
              class="validation-message"
              *ngIf="!resetForm.get('password').valid && resetForm.get('password').touched">
              Please enter a valid password.
            </span>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password again"
              formControlName="passwordRepeat">
            <span
              class="validation-message"
              *ngIf="!resetForm.get('passwordRepeat').valid && resetForm.get('passwordRepeat').touched">
              Please repeat the password.
            </span>
          </div>
          <div class="buttons">
            <button class="btn btn-success login float-left" type="submit" [disabled]="!resetForm.valid" #submit>Sent</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
