<div class="page">
  <div class="left">
    <img src="/assets/images/background-left.jpg">
  </div>
  <div class="right">
    <div class="stagecoach">
      <h1>StageCoach</h1>
    </div>
    <div class="right-container">
      <div class="login-container">
        <div class="head">
          <img src="/assets/logos/hogeschool_leiden.png">
        </div>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="E-Mail">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </form>
        <div class="buttons">
          <a class="btn password-lost float-right" routerLink="/recovery">Lost your password?</a>
          <button class="btn btn-success login float-left" routerLink="/students/">Login</button>
        </div>
        <div class="signup">
          <p>No account yet?</p><a routerLink="/register">Sign up!</a>
        </div>
      </div>
    </div>
  </div>
</div>
