/* This file overwrites default bootstrap variables, should be imported in bootstrap.scss;
   Usually located at: node_modules/bootstrap/scss/bootstrap.scss

   Should set scss compiler to recompile bootstrap.scss and change output path to dist folder.
 */

$primary: #4faae8;

$sc_grey: #dee2e6;;

.success {
  color: #28a745 !important;
}

.danger {
  color: #dc3545 !important;
}

.alert.auth-error {
  background-color: #ffffff;
  color: red;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border: solid 1px red;
}
